    <footer class="footer">
        <div class="container">
            <div class="footer__columns-container columns">
                <div class="main-menu__column">
                    <a href="#"><span class="main-logo">Palex <span>Web</span></span></a>
                    <span class="footer__copyright">© ООО “Палекс Вэб”,  2019</span>
                </div>
                <div class="footer__column">
                    <h2 class="footer__title">Услуги</h2>
                    <nav class="nav-services">
                        <ul class="nav-services__list">
                            <li class="nav-services__item"><a href="">Создание сайтов</a></li>
                            <li class="nav-services__item"><a href="">Продвижение</a></li>
                            <li class="nav-services__item"><a href="">Контекстная реклама</a></li>
                            <li class="nav-services__item"><a href="">Соцсети</a></li>
                            <li class="nav-services__item"><a href="">Портфолио</a></li>
                        </ul>
                    </nav>
                    <span class="confidentials">Политика Конфиденциальности</span>
                </div>
                <div class="footer__column">
                    <h2 class="footer__title">О нас</h2>
                    <nav class="nav-main">
                        <ul class="nav-main__list">
                            <li class="nav-main__item"><a href="" class="nav-main__link">О компании</a></li>
                            <li class="nav-main__item"><a href="" class="nav-main__link">Портфолио</a></li>
                            <li class="nav-main__item"><a href="" class="nav-main__link">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column">
                    <a href="tel:79775443051" class="footer__phone-number phone-number">+7(977) 544-30-51</a>
                    <a href="tel:74996495357" class="footer__phone-number phone-number">+7(499) 649-53-57</a>
                    <a href="mailto:email@info.com" class="footer__e-mail">email@info.com</a>
                    <ul class="social__list">
                        <li class="social__item"><a href="#" class="social__link social__facebook"></a></li>
                        <li class="social__item"><a href="#" class="social__link social__instagram"></a></li>
                    </ul>
                    <span class="user-agreement">Пользовательское Соглашение</span>
                </div>
            </div>
        </div>	
    </footer>
    
    <script src="/js/scripts.min.js"></script>

</body>
</html>
