<footer class="footer">
	<div class="container">
        <div class="footer__main">
            <div class="row">
                <div class="col-4">
                    <div class="footer__logo">
                        <a class="logo" href="/">
                            <img class="logo__img" src="/img/svg/logo.svg" alt="Palex Web" width="149" height="23">
                        </a>
                    </div>
                </div>

                <div class="col-5">
                    <nav class="footer__nav">
                        <div class="row">
                            <div class="col-6">
                                <span class="footer__title-col">Услуги</span>

                                <ul class="footer__nav-list">
                                    <li class="footer__nav-item">
                                        <a class="footer__nav-link" href="#">Создание сайтов</a>
                                    </li>
                                    <li class="footer__nav-item">
                                        <a class="footer__nav-link" href="#">Продвижение</a>
                                    </li>
                                    <li class="footer__nav-item">
                                        <a class="footer__nav-link" href="#">Контекстная реклама</a>
                                    </li>
                                    <li class="footer__nav-item">
                                        <a class="footer__nav-link" href="#">Соцсети</a>
                                    </li>
                                    <li class="footer__nav-item">
                                        <a class="footer__nav-link" href="#">Портфолио</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-6">
                                <span class="footer__title-col">О нас</span>

                                <ul class="footer__nav-list">
                                    <li class="footer__nav-item">
                                        <a class="footer__nav-link" href="#">О компании</a>
                                    </li>
                                    <li class="footer__nav-item">
                                        <a class="footer__nav-link" href="#">Портфолио</a>
                                    </li>
                                    <li class="footer__nav-item">
                                        <a class="footer__nav-link" href="#">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="col-auto footer__col-right">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <span class="footer__title-col">Контакты</span>
                            <ul class="footer__number-list">
                                <li class="footer__number-item">
                                    <a class="phone-number phone-number--theme-white" href="tel:+79775443051">+7(977) 544-30-51</a>
                                </li>
                                <li class="footer__number-item">
                                    <a class="phone-number phone-number--theme-white" href="tel:+74996495357">+7(499) 649-53-57</a>
                                </li>
                            </ul>
                            
                            <span class="footer__email">
                                <a class="footer__email-link" href="mailto:email@info.com">email@info.com</a>
                            </span>

                            <div class="footer__socials">
                                <span class="socials">
                                    <span class="socials__item socials__item--fb" data-go-link="https://www.facebook.com/">
                                        <svg width="31" height="32"><use xlink:href="/img/svg/sprite.svg#soc-fb"></use></svg>
                                    </span>
                                    <span class="socials__item socials__item--inst" data-go-link="https://www.instagram.com/">
                                        <svg width="32" height="32"><use xlink:href="/img/svg/sprite.svg#soc-inst-footer"></use></svg>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer__bottom">
            <div class="row">
                <div class="col-4">
        			<span class="footer__copyright">© ООО “Палекс Вэб”,  2019</span>
                </div>
                
                <div class="col-5">
                    <a href="#" class="footer__policy">Политика Конфиденциальности</a>
                </div>

                <div class="col-auto footer__col-right">
                    <a href="#" class="footer__agree-link">Пользовательское Соглашение</a>
                </div>
            </div>    
        </div>

    </div>	
</footer>


<span class="back-to-top">Вверх</span>
</div> <!--wrapper-->

<script src="js/scripts.min.js"></script>

</body>
</html>