<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Заголовок</title>
    <meta name="description" content="">
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/styles.min.css">

    <!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=865714b7-1fc0-49e4-ac3d-b917e31ad8de&lang=ru_RU"
            type="text/javascript"></script> -->
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header__logo">
                        <a class="header-logo" href="/">
                            <img class="header-logo__img" src="/img/logo.png" alt="Palex Web">
                        </a>
                    </div>
                </div>

                <div class="col">
                    <nav class="main-nav">
                        <ul class="main-nav__list">
                            <li class="main-nav__item">
                                <a class="main-nav__link" href="#">Создание сайтов</a>
                            </li>
                            <li class="main-nav__item">
                                <a class="main-nav__link" href="#">Продвижение</a>
                            </li>
                            <li class="main-nav__item">
                                <a class="main-nav__link" href="#">Контекстная реклама</a>
                            </li>
                            <li class="main-nav__item">
                                <a class="main-nav__link" href="#">Соцсети</a>
                            </li>
                            <li class="main-nav__item">
                                <a class="main-nav__link" href="#">Портфолио</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col">
                    <nav class="header-nav">
                        <div class="header-nav__content">
                            <div class="header-nav__content-inner">
                                <div class="header-nav__content-container">
                                    <div class="container">
                                        <div class="main-menu__columns-container columns container">
                                            <div class="main-menu__column">
                                                <nav class="nav-main">
                                                    <ul class="nav-main__list">
                                                        <li class="nav-main__item"><a href="" class="nav-main__link">Главная</a></li>
                                                        <li class="nav-main__item"><a href="" class="nav-main__link">О компании</a></li>
                                                        <li class="nav-main__item"><a href="" class="nav-main__link">Портфолио</a></li>
                                                        <li class="nav-main__item"><a href="" class="nav-main__link">Контакты</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="main-menu__column">
                                                <nav class="nav-services">
                                                    <ul class="nav-services__list">
                                                        <li class="nav-services__item"><a href="">Создание сайтов</a></li>
                                                        <li class="nav-services__item"><a href="">Продвижение</a></li>
                                                        <li class="nav-services__item"><a href="">Контекстная реклама</a></li>
                                                        <li class="nav-services__item"><a href="">Соцсети</a></li>
                                                        <li class="nav-services__item"><a href="">Портфолио</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="main-menu__column main-menu__contacts">
                                                <a href="tel:79775443051" class="main-menu__phone-number phone-number">+7(977) 544-30-51</a>
                                                <a href="tel:74996495357" class="main-menu__phone-number phone-number">+7(499) 649-53-57</a>
                                                <a href="mailto:email@info.com" class="main-menu__e-mail">email@info.com</a>
                                                <ul class="social__list">
                                                    <li class="social__item"><a href="#" class="social__link social__facebook"></a></li>
                                                    <li class="social__item"><a href="#" class="social__link social__instagram"></a></li>
                                                </ul>
                                            </div>
                                            <div class="main-menu__column">
                                                <button class="button consultation-button">Бесплатная консультация</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
        
                        <button class="header-nav__trigger js-header-nav-trigger" type="button" name="trigger">
                            <span class="header-nav__trigger-icon">
                                <i class="header-nav__trigger-icon-line header-nav__trigger-icon-line--1"></i>
                                <i class="header-nav__trigger-icon-line header-nav__trigger-icon-line--2"></i>
                                <i class="header-nav__trigger-icon-line header-nav__trigger-icon-line--3"></i>
                            </span>
                        </button>
                    </nav>
        
                </div>
            </div>
        </div>
        
        
    </header>