<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Заголовок</title>
    <meta name="description" content="">
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/styles.min.css">

    <!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=865714b7-1fc0-49e4-ac3d-b917e31ad8de&lang=ru_RU"
            type="text/javascript"></script> -->
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="row header__row">
                <div class="col-auto header__col-logo">
                    <div class="header__logo">
                        <a class="logo" href="/">
                            <img class="logo__img" src="/img/svg/logo.svg" alt="Palex Web" width="149" height="23">
                        </a>
                    </div>
                </div>

                <div class="col-auto header__col-nav visible-up-lg">
                    <nav class="header-nav">
                        <ul class="header-nav__list">
                            <li class="header-nav__item">
                                <a class="header-nav__link" href="#">Создание сайтов</a>
                            </li>
                            <li class="header-nav__item">
                                <a class="header-nav__link" href="#">Продвижение</a>
                            </li>
                            <li class="header-nav__item">
                                <a class="header-nav__link" href="#">Контекстная реклама</a>
                            </li>
                            <li class="header-nav__item">
                                <a class="header-nav__link" href="#">Соцсети</a>
                            </li>
                            <li class="header-nav__item">
                                <a class="header-nav__link" href="#">Портфолио</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-auto header__col-phone visible-up-sm">
                    <a href="tel:+74996495357" class="phone-number phone-number--theme-dark">+7(499) 649-53-57</a>
                </div>
                
                <div class="col-auto header__col-button">
                    <nav class="header-menu">
                        <div class="header-menu__content">
                            <div class="header-menu__content-inner">
                                <div class="header-menu__content-container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <nav class="header-menu__nav">
                                                    <div class="row">
                                                        <div class="col-12 col-lg-6">
                                                            <ul class="header-menu__nav-list">
                                                                <li class="header-menu__nav-item">
                                                                    <a class="header-menu__nav-link" href="#">Главная</a>
                                                                </li>
                                                                <li class="header-menu__nav-item">
                                                                    <a class="header-menu__nav-link" href="#">О компании</a>
                                                                </li>
                                                                <li class="header-menu__nav-item">
                                                                    <a class="header-menu__nav-link" href="#">Портфолио</a>
                                                                </li>
                                                                <li class="header-menu__nav-item">
                                                                    <a class="header-menu__nav-link" href="#">Контакты</a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="col-12 col-lg-6">
                                                            <ul class="header-menu__nav-list">
                                                                <li class="header-menu__nav-item">
                                                                    <a class="header-menu__nav-link" href="#">Создание сайтов</a>
                                                                </li>
                                                                <li class="header-menu__nav-item">
                                                                    <a class="header-menu__nav-link" href="#">Продвижение</a>
                                                                </li>
                                                                <li class="header-menu__nav-item">
                                                                    <a class="header-menu__nav-link" href="#">Контекстная реклама</a>
                                                                </li>
                                                                <li class="header-menu__nav-item">
                                                                    <a class="header-menu__nav-link" href="#">Соцсети</a>
                                                                </li>
                                                                <li class="header-menu__nav-item">
                                                                    <a class="header-menu__nav-link" href="#">Портфолио</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </nav>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                <div class="row justify-content-between">
                                                    <div class="col-12 col-lg-auto">
                                                        <div class="header-menu__contacts-block">

                                                            <ul class="header-menu__number-list">
                                                                <li class="header-menu__number-item">
                                                                    <a class="phone-number phone-number--theme-dark" href="tel:+79775443051">+7(977) 544-30-51</a>
                                                                </li>
                                                                <li class="header-menu__number-item">
                                                                    <a class="phone-number phone-number--theme-dark" href="tel:+74996495357">+7(499) 649-53-57</a>
                                                                </li>
                                                            </ul>
                                                            
                                                            <span class="header-menu__email">
                                                                <a class="header-menu__email-link" href="mailto:email@info.com">email@info.com</a>
                                                            </span>

                                                            <div class="header-menu__socials">
                                                                <span class="socials">
                                                                    <span class="socials__item socials__item--fb" data-go-link="https://www.facebook.com/">
                                                                        <svg width="31" height="32"><use xlink:href="/img/svg/sprite.svg#soc-fb"></use></svg>
                                                                    </span>
                                                                    <span class="socials__item socials__item--inst" data-go-link="https://www.instagram.com/">
                                                                        <svg width="32" height="32"><use xlink:href="/img/svg/sprite.svg#soc-inst-header"></use></svg>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>                                                        
                                                    </div>
        
                                                    <div class="col-12 col-lg-auto">
                                                        <span class="header-menu__feedback">
                                                            <a class="btn btn--theme-def btn--geom-def js-anchor" href="#free-consultation">Бесплатная консультация</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>

                        <button class="header-menu__trigger js-header-menu-trigger" type="button" name="trigger">
                            <span class="header-menu__trigger-icon">
                                <i class="header-menu__trigger-icon-line header-menu__trigger-icon-line--1"></i>
                                <i class="header-menu__trigger-icon-line header-menu__trigger-icon-line--2"></i>
                                <i class="header-menu__trigger-icon-line header-menu__trigger-icon-line--3"></i>
                            </span>
                        </button>
                    </nav>        
                </div>
            </div>
        </div>
        
        
    </header>