
.faq__wrapper {

}

.faq-accordion {
	&__item {
		width: 100%;
		// min-height: 88px;

		font-style: normal;
		font-weight: normal;
		font-size: 14px;


		color: #525466;

		background-color: #FFFFFF;
		box-shadow: 0px 12px 40px rgba(74, 78, 84, 0.1);
		border-radius: 8px;

		padding: 0;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

	}


	
	&__text {
		margin-bottom: 15px;
		margin-top: -30px;
		padding: 0 20px 30px 20px;

		max-height: 0;
		opacity: 0;


		overflow: hidden;
		transition: max-height 0.2s, margin-top 0.4s, opacity 0.2s;
			
		.faq-accordion__item.open & {
			max-height: 1000px;
			margin-top: 0px;

			// padding: 0 50px 30px 35px;

			opacity: 1;
			
		}
	}

	
		
	&__expand-button {
		@extend .link-resset;
		display: block;
		position: relative;
	
		padding: 30px 40px 24px 20px;
		width: 100%;

		font-weight: 400;
		font-size: 18px;
	
		color: #525466;
		cursor: pointer;

			
		&::before,
		&::after {
			content: "";
			position: absolute;
		
			width: 4px;
			height: 20px;
		
			top: 50%;
			right: 20px;
		
			background-color: #5665EB;
			transform: translateY(-50%);

			transition: 0.2s;
		}
		
		&::after {
			transform: translateY(-50%) rotate(90deg);
		}

		.faq-accordion__item.open &::before {
			transform: translateY(-50%) rotate(90deg);
			transition: all 0.4s;
		}
	}


	@include media-breakpoint-up(sm) {
	}
	
	@include media-breakpoint-up(md) {
	}
	
	@include media-breakpoint-up(lg) {
		&__item {
			font-size: 16px;
		}
		&__expand-button {
			
			padding: 30px 50px 24px 35px;
			
			font-size: 24px;

			&::before,
			&::after {
				right: 36px;
			}
		}

		&__text {
			margin-bottom: 15px;
			margin-top: -30px;
			padding: 0 50px 30px 35px;

		}

	}
	
	@include media-breakpoint-up(xl) {
	}

}


