.footer {
	padding: 65px 0 43px;
    
    font-size: 14px;
    color: rgba(255, 255, 255, 0.67);

	background-color: $color-main-7;

    
    &__main {
        display: block;
        margin: 0 0 100px;
    }


    &__title-col {
        display: block;
        margin: 0 0 20px;
        color: #ffffff;
    }

    &__col-right {
    }

    &__logo {
        max-width: 147px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
      
    &__nav {
        max-width: 400px;
        margin: 0 auto 30px;

        text-align: center;

        &-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    
        &-item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    
        &-link {
            @extend .link-resset;
           
            &:hover,
            &:active,
            &.current {
                color: #fff;
            }
        }
    }

    &__contacs-block {
        text-align: center;
    }

    &__socials {
        display: flex;
        justify-content: center;
    }

    &__number {
        &-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            &:not(:last-child) {
                margin-bottom: 10px;
            };
        }
    
        &-item {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    &__email {
        display: block;
        margin: 0 0 35px;

        &-link {
            @extend .link-resset;
    
            &:hover,
            &:active,
            &.current {
                color: #fff;
            }
        }
    }

    &__copyright {
        display: block;
        text-align: center;
    }

    &__policy,
    &__agree {
        display: block;
        text-align: center;

        &-link,
        &-link {
            @extend .link-resset;
            transition: color 0.2s;

            &:hover,
            &:active {
                color: #ffffff;
            }
        }
    }

    &__agree {
        margin-bottom: 25px;
    }



            
    @include media-breakpoint-up(sm) {
        
    }

    @include media-breakpoint-up(md) {
        &__col-right {
            margin-left: auto;
            width: 220px;
        }
    }

    @include media-breakpoint-up(lg) {
    	padding: 105px 0 43px;

        &__logo {
            position: relative;
            top: -10px;
            max-width: 187px;
            margin: 0;
        }

        &__nav {
            text-align: left;
            margin: 0;
            max-width: 100%;
        }

        &__contacs-block {
            text-align: left;
        }
    
        &__socials {
            justify-content: flex-start;
        }

        &__copyright {
            text-align: left;
        }

        &__policy,
        &__agree {
            text-align: left;
        }

        &__agree {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {

    }


}


