.header-nav {
    font-size: 14px;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -5px;
        padding: 0;
        list-style: none;

    }

    &__item {
        margin: 0 5px;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        
        &:hover,
        &:active,
        &:focus {
            color: $color-main-1;
        }
    }

      
    @include media-breakpoint-up(sm) {
    }
    
    @include media-breakpoint-up(md) {
    }
    
    @include media-breakpoint-up(lg) {
    }
    
    @include media-breakpoint-up(xl) {
        font-size: 15px;

        &__list {
            margin: 0 -10px;
        }

        &__item {
            margin: 0 10px;
        }

    }
}


.header-menu {
    $b: &;
  
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    color: blue;
    
    &__trigger {
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 2;
      display: inline-block;
      vertical-align: middle;
  
      box-shadow: none;
      outline: none;
      background: none;
      border: none;
      cursor: pointer;
      transition: 0.5s;
      outline: none;
  
  
      &-icon {
        display: inline-block;
        position: relative;
        width: 34px;
        height: 34px;
        color: $color-main-4;
        background: none;
        border: none;
        outline: none;
        
        transition: all 0.5s 0.3s;
        will-change: transform;

          #{$b}.open & {
          transform: rotate(135deg);
        }
  
        &-line {
          position: absolute;
          right: 25%;
          left: 25%;
          height: 2px;
          margin-top: -1px;
          background-color: currentcolor;
          transition: 
            top 0.5s 0.3s, transform 0.5s 0.3s, 
            opacity 0.5s 0.3s, 
            background-color 0s 0s, 
            left 0.5s 0.3s, 
            right 0.5s 0.3s;
  
          #{$b}.open & {
            top: 50%;
          }
          &--1 {
            top: 29%;
            left: 33%;
            
            #{$b}:not(.open) #{$b}__trigger:hover &,
            #{$b}:not(.open) #{$b}__trigger:active & {
              left: 25%;
            }

            #{$b}.open & {
                left: 15%;
                right: 15%;
            }

          }

          &--2 {
            top: 50%;
            left: 45%;

            #{$b}:not(.open) #{$b}__trigger:hover &,
            #{$b}:not(.open) #{$b}__trigger:active & {
              left: 25%;
            }

            #{$b}.open & {
                opacity: 0;
            }
          }
         

          &--3 {
            top: 71%;
            
            #{$b}.open & {
                left: 15%;
                right: 15%;
                transform: rotate(90deg);
            }
          }

          
        }
      }

    }
  
    &__content {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      text-align: left;
      z-index: 0;
      background: #fff;
      color: #000;
      height: 100vh;
      overflow: auto;
      padding: 0;
      transition: all 0.3s ease-out;

      opacity: 0;
      pointer-events: none;
    
      transform-origin: 0 0;
      transform: perspective(0) rotate3d(1,0,0,90deg);
  
  
      .header-menu.open & {
        pointer-events: visible;
		opacity: 1;
		z-index: 1;
        transform: perspective(0) rotate3d(1,0,0,0);
      }
  
      &-inner {
        width: 100%;
        min-height: 100vh;
        
        padding: 108px 0 30px;
      }
  
      &-container {
        width: 100%;
      }
    }
  
    &__nav {
        margin-bottom: 30px;

        &-list {
            list-style-type: none;
            margin: 0 0 15px;
            padding: 0;
        }
    
        &-item {
            text-align: center;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    
        &-link {
            display: block;
            font-size: 18px;
            font-weight: 400;
            color: $color-main;
            text-decoration: none;
            text-transform: none;

        
            &:hover,
            &:active,
            &.current {
                color: $color-main-1;
            }
        }
    }
    
    &__contacts-block {
        text-align: center;
        margin-bottom: 30px;
    }

    &__number {
        &-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            &:not(:last-child) {
                margin-bottom: 10px;
            };
        }
    
        &-item {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    &__email {
        display: block;
        margin: 0 0 35px;

        &-link {
            font-size: 16px;
            font-weight: 400;
            color: $color-main;
            text-decoration: none;
            text-transform: none;

            &:hover,
            &:active {
                color: $color-main-1;
            }
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
    }

    &__feedback {
        display: block;
        text-align: center;
    }


 
      
    @include media-breakpoint-up(sm) {
    }
    
    @include media-breakpoint-up(md) {
    }
    
    @include media-breakpoint-up(lg) {
        &__content {
            &-inner {
                padding-top: 138px;
            }
        }

        &__nav {
            margin-bottom: 0;

            &-list {
                margin-bottom: 0;
            }

            &-item {
                text-align: left;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }

        &__contacs-block {
            margin-bottom: 0;
            text-align: left;
        }

        
        &__email {
            text-align: left;
        }

        &__socials {
            justify-content: flex-start;
        }

        &__feedback {
            text-align: left;
        }
    }
    
    @include media-breakpoint-up(xl) {
    }
}



.header {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 20px 0;

    .header-menu-open &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
    }

    &__row {
        justify-content: space-between;
        align-items: center;
    }

    &__col {
        &-logo {
            margin-right: 0%;
        }

        &-nav {
            width: 54%;
            margin-right: 1%;
        }

        &-button {
            // flex-basis: 20px;
        }
    }
    

    &__logo {
        position: relative;
        max-width: 122px;

        .header-menu-open & {
            z-index: 2;
        }

    }

    @include media-breakpoint-up(sm) {
    }
    
    @include media-breakpoint-up(md) {
    }
    
    @include media-breakpoint-up(lg) {
        padding: 35px 0;

        &__col {
            &-logo {
                margin-right: 2%;
            }
        }

        
    }
    
    @include media-breakpoint-up(xl) {
        
        &__logo {
            max-width: 152px;
        }
    }
}
