
/*__About__*/

.about {
	padding-top: 185px;
	padding-bottom: 120px;
}

.about__title {
	color: #71A5F4;
}

.about__subtitle {
	display: block;
	color: #000000;
	margin-bottom: 40px;
}


/*__SEO__*/

.seo__title {
	color: #71A5F4;
}

.seo__subtitle {
	display: block;
	color: #000000;
	margin-bottom: 30px;
}

.seo__text {
	font-family: FuturaBookC;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;

	color: rgba(82, 84, 102, 0.9);

	margin-bottom: 120px;
}