.s-calc {
	padding: 70px 0 60px;

	background-color: $color-main-2;
	
	color: $color-main-8;

	&__columns {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-left {
			max-width: 630px;
		}
		
		&-right {
			max-width: 445px;
		}
	}

	&__title {
		@extend .title-2;
		display: block;
		margin: 0 0 10px;
	}

	&__subtitle {
		@extend .title;
		display: block;
		margin: 0 0 35px;

		color: #FFFFFF;
	}

	&__form {
		&-fieldset-1 {
			margin: 0 0 35px;
			padding: 0;
			border: none;
		}

		&-fieldset-2 {
			margin: 0 0 35px;
			padding: 0;
			border: none;
		}

		&-legend {
			margin: 0 0 20px;
	
			font-family: $ffFuturis;
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
		}

		&-checkbox {
			&-group {
				display: flex;
				flex-wrap: wrap;
				margin: -10px -7px 0;
			}

			&-item {
				width: 100%;
				padding: 10px 7px 0;

				&--w-210 {
					min-width: 210px;
				}
			}

		}

		&-radio {
			&-group {
				display: flex;
				flex-wrap: wrap;
				margin: -10px -7px 0;
			}

			&-item {
				width: 100%;
				padding: 10px 7px 0;
			}

		}

		&-legend {}

		&-submit {
			width: 100%;
		}
	}

	
	&__box {
		// margin-top: -100px;


		padding: 30px 7% 20px;

		font-family: $ffFuturaBookC;
		color: $color-main;

		background: #FFFFFF;
		border-radius: 12px;
		
		&__total {
			display: block;
			margin: 0 0 15px;
		}
		

		&-note {
			display: block;
			margin: 0 0 35px;

			font-family: $ffFuturaBookC;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			color: #525466;			
		}		

		&-email {
			display: block;
			margin: 0 0 22px;
		}

		&-submit {
			display: block;
			margin: 0 0 20px;
		}

		&-disclaimer {
			max-width: 270px;
			margin: 0 auto;
			
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			text-align: center;	
		
			color: rgba(82, 84, 102, 0.4);
		}


	}
	
	&__total {
		display: block;
		position: relative;
		font-family: $ffFuturis;
		font-style: normal;
		font-weight: 700;
		font-style: normal;
		font-weight: bold;
	
		color: #71A5F4;	
	
		margin-bottom: 25px;
		line-height: 1;

		&-price {
			vertical-align: middle;

			font-size: 46px;
			margin-left: -0.15em;
		}

		&-money-sign {
			vertical-align: middle;
			font-size: 20px;
		}
	}

	
	

	@include media-breakpoint-up(sm) {
		&__form {	
			&-checkbox {
				&-group {
				}
	
				&-item {
					width: auto;
				}
	
			}
	
			&-radio {
				&-group {
				}
	
				&-item {
					width: auto;
				}
	
			}
		}
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(lg) {
		padding: 130px 0 120px;

		&__subtitle {
			margin: 0 0 50px;
		}

		&__columns {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
	
			&-left {
				max-width: 630px;
			}
			
			&-right {
				max-width: 445px;
			}
		}

		&__form {
			&-fieldset-1 {
				margin: 0 0 65px;
			}
	
			&-fieldset-2 {
				margin: 0;
			}
	
			&-legend {
				margin: 0 0 20px;
				font-size: 18px;
			}
	
			// &-checkbox {
			// 	&-group {
			// 	}
	
			// 	&-item {
					
			// 	}
	
			// }
	
			// &-radio {
			// 	&-group {
			// 	}
	
			// 	&-item {
					
			// 	}
	
			// }
	
			// &-legend {}
	
			// &-submit {
			// }
		}

		&__box {	
			// margin-top: -100px;
			
			padding: 85px 10% 50px;

			border-radius: 12px;
			
			// &__total {
			// }
			
			&-note {
				font-size: 18px;		
			}		
	
			// &-email {
			// }
	
			// &-submit {
			// }
	
			// &-disclaimer {
			// }
	
	
		}

		&__total {

	
			&-price {
				font-size: 52px;
			}
	
			// &-money-sign {
	
			// }
		}
	
	}

	@include media-breakpoint-up(xl) {
		&__box {	
			padding-right: 18%;
			padding-left: 18%;
		}
	}
	
	

	
	
	

	
}

