
/*__Portfolio__*/

.s-portfolio {
	padding: 60px 0 40px;

	
	&__title {
		@extend .title-2;
		display: block;
		max-width: 500px;
		margin: 0 0 10px;

		color: #71A5F4;
	}

	&__subtitle {
		@extend .title;
		display: block;
		max-width: 500px;
		margin: 0 0 0;
		
		margin-bottom: 70px;
		color: #000000;
	}
	
	&__controls {
		float: right;
		position: relative;
		display: flex;
		margin-top: -60px;

		&-prev {
			margin-right: 10px;
		}

		.btn-arrow  {
			opacity: 0;
			pointer-events: none;

			&.slick-arrow {
				opacity: 1;
				pointer-events: visible;
			}
		}
	}

	&__slider {
		display: flex;
		justify-content: center;

		&-item {
			width: 320px;
			padding: 30px 15px 50px;

			outline: none;

			&:not(.slick-slide):not(:first-child) {
				display: none;
			}
		}
	}

	&__item {
		height: 100%;
		width: 100%;
		
		display: flex;
		flex-direction: column-reverse;
		padding: 20px 20px 20px;

		text-align: center;

		border-radius: 8px;
		box-shadow: 0px 12px 40px rgba(74, 78, 84, 0.13);


		&-logo {
			display: block;
			height: 60px;
			margin: 0 0 20px;

			&-img {
				display: inline-block !important;
				vertical-align: middle;
				width: auto;
				max-height: 100%;
			}
		}

		&-text {
			margin: 0 0 15px;
		}

		&-link {
			color: #5665EB;
			text-decoration: none;

			&:hover,
			&:active {
				color: darken(#5665EB, 10);
			}
		}

		&-img {
			&-wrap {
				margin: 0 0 25px;
			}
		}
	}


	&__next-slide-button {
		right: 0;
	}

	&__prev-slide-button {
		right: 68px;
	}

	@include media-breakpoint-up(sm) {
		&__slider {

			&-item {
				width: 400px;
				// padding: 30px 25px 50px;
			}
		}

	}
	
	@include media-breakpoint-up(md) {
	}
	
	@include media-breakpoint-up(lg) {
		padding: 168px 0 110px;

		&__controls {
			margin-top: -95px;
		}

			
		&__slider {

			&-item {
				width: 1015px;
				padding: 30px 25px 50px;
			}
		}


		&__item {
			padding: 50px;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			text-align: left;

			border-radius: 12px;

			&-logo {
				display: block;
				height: 60px;
				margin: 0 0 40px;

				&-img {
					width: auto;
					max-height: 100%;
				}
			}

			&-text {
				max-width: 345px;
				min-height: 8.9em;
			}

			&-link {

			}

			&-img {
				&-wrap {
					margin: 0 0 25px;
				}
			}
		}

	}
	
	@include media-breakpoint-up(xl) {
	}
}


