
$color-main: #525466;
$color-main-1: #363740;

$color-main-2: #FD9191;

$color-main-3: #5665EB;
$color-main-4: #71A5F4;

$color-main-5: #E1E3EF;
$color-main-6: #777E88;




$ffFuturaBookC: 'FuturaBookC', sans-serif;
$ffFuturis: 'Futuris', 'FuturaBookC', sans-serif;

@mixin retina-image($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

[data-go-link] {
  cursor: pointer;
}


img,
iframe {
  max-width: 100%;
  height: auto;
}



.text {
  line-height: 1.25;
  font-size: px-to-rem(20);
  font-weight: 400;
  font-style: normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.8em 0 0.4em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  ul {
    margin: 1.5em 0 1.5em 20px;
    padding: 0;
  }
  ul:first-child {
    margin-top: 0;
  }
  ul:last-child {
    margin-bottom: 0;
  }
  ul li {
    margin-bottom: 0.8em;
  }
  ul li:last-child {
    margin-bottom: 0;
  }

  ol {
    margin: 1.5em 0 1.5em 20px;
    padding: 0;
  }
  ol:first-child {
    margin-top: 0;
  }
  ol:last-child {
    margin-bottom: 0;
  }
  ol li {
    margin-bottom: 1em;
  }
  ol li:last-child {
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

  table {
    width: 100%;
    margin: 0 0 30px;
  }
  table:last-child {
    margin-bottom: 0;
  }

  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  th {
    font-weight: bold;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote::before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
}



.icon {
  display: inline-block;
  vertical-align: middle;
}




.parsley-errors-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: px-to-rem(26);
  color: $color-main-2;
  white-space: nowrap;
  text-align: inherit;

  // text-transform: lowercase;
  pointer-events: none;
}

textarea {
  resize: vertical;
}

$inputTextPdLeft: 35px;
.input-text {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: left;

  &__field {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 35px 21px $inputTextPdLeft;
    font-size: inherit;
    line-height: 1.4;
    font-weight: 400;
    text-align: inherit;
    color: inherit;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    box-shadow: none;
    border-radius: 30px; 
    transition: border-color 0.2s;


    &:hover,
    &:focus {
      border-color: #000;
      box-shadow: none;
      border-radius: none; 
    }

    &.parsley-error {
      border-color: $color-main-2;
    }

    &::-ms-clear {
      display: none;
    }

    &::placeholder {
      color: inherit;
      opacity: 0.7;
    }
  }

  
  &__placeholder {
    position: absolute;
    height: auto;
    top: 22px;
    // transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 0 $inputTextPdLeft;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: inherit;
    font-style: normal;
    // pointer-events: none;
    color: inherit;
    transform-origin: 0% 0%;
    transition: transform 0.2s;
    
    .input-text--dirty & {
      text-shadow: 1px 1px #000;
      transform: translate(-8px, -29px) scale(0.8);
    }
  }

  & .parsley-errors-list {
    top: 100%;
    right: 0;
    text-align: right;
    left: auto;
  }
  
  @include media-breakpoint-down(lg) {
    &--lg-center {
      text-align: center;
    }

    &__placeholder {
      .input-text--lg-center & {
        transform-origin: 50% 100%;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &--md-center {
      text-align: center;
    }

    &__placeholder {
      .input-text--md-center & {
        transform-origin: 50% 100%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &--sm-center {
      text-align: center;
    }

    &__placeholder {
      .input-text--sm-center & {
        transform-origin: 50% 100%;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    &--xs-center {
      text-align: center;
    }

    &__placeholder {
      .input-text--xs-center & {
        transform-origin: 50% 100%;
      }
    }
  }

  
}


.checkbox {
  $b: &;

  &-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  position: relative;
  display: flex;
  align-items: start;

  vertical-align: middle;
  padding: 11px 25px 11px 15px;

  font-size: 16px;
  color: #fff;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  cursor: pointer;

  transition: background 0.2s, color 0.2s;

  &:hover,
  &:active, 
  &:focus {
    color: $color-main-2;
    background: rgba(255, 255, 255, 1);
  }

  &__input {
    opacity: 0;
    position: absolute;
    pointer-events: none
  }

  &__icon {
    position: relative;
    top: 4px;
    z-index: 1;
    width: 17px;
    min-width: 17px;
    height: 17px;
    margin: 0 15px 0 0;
    background: none; 
    border: 1px solid currentColor;
    border-radius: 2px;
    transition: border-color 0.2s;
  }  

  &__input:checked ~ &__icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 10px;
    border: 2px solid currentcolor;
    margin-top: -7px;
    margin-left: -3px;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
  }
  
  &__text {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  
  &.parsley-error ~ .parsley-errors-list {
    top: 100%;
    left: 0;
    text-align: right;
    left: auto;
    font-size: 14px;
  }
}


.radio {
  $b: &;

  &-wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;

  font-size: 18px;
  color: #fff;

  cursor: pointer;


  &:hover,
  &:active, 
  &:focus {
    color: $color-main-2;
  }

  &__input {
    opacity: 0;
    position: absolute;
    pointer-events: none
  }

  &__bg {
    position: absolute;
    top: 4px;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;

    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    transition: background 0.2s, color 0.2s;

    #{$b}:hover &,
    #{$b}:active & {
      background: rgba(255, 255, 255, 0.8);
    }
    
    #{$b}__input:focus ~ &,
    #{$b}__input:checked ~ & {
      background: rgba(255, 255, 255, 1);
    }
    
  
  }  

  &__text {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;

    #{$b}__input:focus ~ &,
    #{$b}__input:checked ~ & {
      color: $color-main-2;
    }
  }
  
  &.parsley-error ~ .parsley-errors-list {
    top: 100%;
    left: 0;
    text-align: right;
    left: auto;
    font-size: 14px;
  }
}



.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  
  &--geom {
    &-def {
      padding: 20px 42px;
      font-size: 18px;
      line-height: 1.15;
      border-radius: 30px;
    }
  }

  &--theme {
    &-def {
      border: none;
      outline: none;
      box-shadow: none;
      background: $color-main-2;
      transition: background 0.2s;
      color: inherit;

      &:hover,
      &:active,
      &:focus{
        color: inherit;
        background: darken($color-main-2, 10);
      }
    }
  }



  

}

.btn-arrow {
  margin: 0;
  padding: 0;
  position: relative;
  width: 58px;
  height: 58px;
  display: inline-block;
  vertical-align: middle;

  text-decoration: none;
  text-align: center;
  line-height: 58px;
  font-style: normal;
  font-family: inherit;
  color: $color-main-6;
  white-space: nowrap;

  border: none;
  outline: none;
  box-shadow: none;
  background: $color-main-5;
  border-radius: 4px;
  transition: color 0.2s, background 0.2s;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
  
  &:hover,
  &:active {
    color: #fff;
    background: $color-main-3;
  }

  &__icon {
    display: inline-block;
    color: currentColor;
    fill: currentColor;
  }
}







.socials {
  display: flex;
  align-items: center;
  color: $color-main-3;

  &__item {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    fill: currentcolor; 
    color: currentcolor; 
    outline: none;
    transition: color 0.2s;
    
    & + & { 
      margin-left: 20px; 
    }
    
    &:hover {
      color: darken($color-main-3, 10);
    }

    svg {
      display: block;
    }

  }
}

.phone-number {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;

  &--theme-dark {
    color: $color-main;

    &:hover,
    &:active,
    &:focus {
      color: $color-main-1;
    }
  }

  &--theme-white {
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      color: $color-main-5;
    }
  }

}

// @extends;
.section-title {
  font-family: $ffFuturis;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
}

.section-title-2 {
  font-family: $ffFuturis;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.68);
}

// END @extends;

