
$color-main: #525466;
$color-main-1: #363740;

$color-main-2: #FD9191;

$color-main-3: #5665EB;
$color-main-4: #71A5F4;

$color-main-5: #E1E3EF;

$color-main-6: #777E88;
$color-main-7: #202328;

$color-main-8: #fedcdc;


.columns {
	display: flex;
	justify-content: space-between;
}
.v-hidden:not(:focus):not(:active),
input[type="checkbox"].v-hidden,
input[type="radio"].v-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}




$ffFuturaBookC: 'FuturaBookC', sans-serif;
$ffFuturis: 'Futuris', 'FuturaBookC', sans-serif;

@mixin retina-image($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

[data-go-link] {
  cursor: pointer;
}


img,
iframe {
  max-width: 100%;
  height: auto;
}



.text {
  line-height: 1.625;
  font-weight: 400;
  font-style: normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.8em 0 0.4em;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  ul {
    margin: 1.5em 0 1.5em 20px;
    padding: 0;
  }
  ul:first-child {
    margin-top: 0;
  }
  ul:last-child {
    margin-bottom: 0;
  }
  ul li {
    margin-bottom: 0.8em;
  }
  ul li:last-child {
    margin-bottom: 0;
  }

  ol {
    margin: 1.5em 0 1.5em 20px;
    padding: 0;
  }
  ol:first-child {
    margin-top: 0;
  }
  ol:last-child {
    margin-bottom: 0;
  }
  ol li {
    margin-bottom: 1em;
  }
  ol li:last-child {
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

  table {
    width: 100%;
    margin: 0 0 30px;
  }
  table:last-child {
    margin-bottom: 0;
  }

  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  th {
    font-weight: bold;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote::before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
}



.icon {
  display: inline-block;
  vertical-align: middle;
}




.parsley-errors-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: px-to-rem(26);
  color: $color-main-2;
  white-space: nowrap;
  text-align: inherit;

  // text-transform: lowercase;
  pointer-events: none;
}

textarea {
  resize: vertical;
}

$inputTextPdLeft: 35px;
.input-text {
  

  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: left;

  &__field {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 35px 21px $inputTextPdLeft;
    font-size: inherit;
    line-height: 1.4;
    font-weight: 400;
    text-align: inherit;
    color: inherit;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    box-shadow: none;
    border-radius: 30px; 
    transition: border-color 0.2s;


    &:hover,
    &:focus {
      box-shadow: none;
      border-radius: none; 
    }

    &.parsley-error {
      border-color: $color-main-2;
    }

    &::-ms-clear {
      display: none;
    }

    &::placeholder {
      color: inherit;
      opacity: 0.7;
    }

    &--bd {
      border: 1px solid rgba(0, 0, 0, 0.15);

      .input-text--dirty &,
      &:hover,
      &:focus {
        border-color: rgba(0, 0, 0, 0.45);
      }
    }
  }

  
  &__placeholder {
    position: absolute;
    height: auto;
    top: 22px;
    // transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 0 $inputTextPdLeft;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: inherit;
    font-style: normal;
    pointer-events: none;
    color: inherit;
    transform-origin: 0% 0%;
    transition: transform 0.2s;
    
    .input-text--dirty & {
      text-shadow: 1px 1px #000;
      transform: translate(-8px, -29px) scale(0.8);
    }

    &--bd {
      .input-text--dirty & {
        text-shadow: none;
        transform: translate(-8px, -37px) scale(0.8);
      }
    }
  }

  & .parsley-errors-list {
    top: 100%;
    right: 0;
    text-align: right;
    left: auto;
  }
  
  @include media-breakpoint-down(lg) {
    &--lg-center {
      text-align: center;
    }

    &__placeholder {
      .input-text--lg-center & {
        transform-origin: 50% 100%;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &--md-center {
      text-align: center;
    }

    &__placeholder {
      .input-text--md-center & {
        transform-origin: 50% 100%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &--sm-center {
      text-align: center;
    }

    &__placeholder {
      .input-text--sm-center & {
        transform-origin: 50% 100%;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    &--xs-center {
      text-align: center;
    }

    &__placeholder {
      .input-text--xs-center & {
        transform-origin: 50% 100%;
      }
    }
  }

  
}

.checkbox {
  $b: &;

  &-wrap {
    position: relative;
    display: block;
    width: 100%;
  }

  position: relative;
  display: flex;
  align-items: start;

  vertical-align: middle;
  padding: 11px 20px 11px 15px;

  font-size: 16px;
  color: #fff;

  background: rgba(255, 255, 255, 0.1);
  background: #578cf2;
  border-radius: 4px;
  cursor: pointer;

  transition: background 0.2s, color 0.2s;

  &:hover,
  &:active, 
  &:focus {
    color: $color-main-2;
    background: rgba(255, 255, 255, 1);
  }

  &__input {
    opacity: 0;
    position: absolute;
    pointer-events: none
  }

  &__icon {
    position: relative;
    top: 4px;
    z-index: 1;
    width: 17px;
    min-width: 17px;
    height: 17px;
    margin: 0 15px 0 0;
    background: none; 
    border: 1px solid currentColor;
    border-radius: 2px;
    transition: border-color 0.2s;
  }  

  &__input:checked ~ &__icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 10px;
    border: 2px solid currentcolor;
    margin-top: -7px;
    margin-left: -3px;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
  }
  
  &__text {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  
  &.parsley-error ~ .parsley-errors-list {
    top: 100%;
    left: 0;
    text-align: right;
    left: auto;
    font-size: 14px;
  }
}


.checkbox-s {
  $b: &;

  &-wrap {
    position: relative;
    display: block;
    width: 100%;
  }

  position: relative;
  display: flex;
  align-items: start;

  vertical-align: middle;
  padding: 0;

  // font-size: 16px;
  color: #fff;

  cursor: pointer;

  transition:  color 0.2s;



  &:hover,
  &:active, 
  &:focus {
    color: darken(#fff, 10);    
  }

  &--theme-dark {
    color: #525466;

    &:hover,
    &:active, 
    &:focus {
      color: darken(#525466, 10);    
    }
  }

  &__input {
    opacity: 0;
    position: absolute;
    pointer-events: none
  }

  &__icon {
    position: relative;
    top: 4px;
    z-index: 1;
    width: 17px;
    min-width: 17px;
    height: 17px;
    margin: 0 15px 0 0;
    background: none; 
    border: 1px solid currentColor;
    border-radius: 2px;
    transition: border-color 0.2s;
  }  

  &__input:checked ~ &__icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 10px;
    border: 2px solid currentcolor;
    margin-top: -7px;
    margin-left: -3px;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
  }
  
  &__text {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  
  &.parsley-error ~ .parsley-errors-list {
    top: 100%;
    left: 0;
    text-align: right;
    left: auto;
    font-size: 14px;
  }
}


.radio {
  $b: &;

  &-wrap {
    position: relative;
    display: block;
    width: 100%;
  }

  position: relative;
  display: block;
  padding: 10px 20px;

  font-size: 18px;
  color: #fff;

  cursor: pointer;


  &:hover,
  &:active, 
  &:focus {
    color: $color-main-2;
  }

  &__input {
    opacity: 0;
    position: absolute;
    pointer-events: none
  }

  &__bg {
    position: absolute;
    top: 4px;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;

    // background: rgba(255, 255, 255, 0.1);
    background: #578cf2;
    border: none;
    border-radius: 4px;
    transition: background 0.2s, color 0.2s;

    #{$b}:hover &,
    #{$b}:active & {
      background: rgba(255, 255, 255, 0.8);
    }
    
    #{$b}__input:focus ~ &,
    #{$b}__input:checked ~ & {
      background: rgba(255, 255, 255, 1);
    }
    
  
  }  

  &__text {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;

    #{$b}__input:focus ~ &,
    #{$b}__input:checked ~ & {
      color: $color-main-2;
    }
  }
  
  &.parsley-error ~ .parsley-errors-list {
    top: 100%;
    left: 0;
    text-align: right;
    left: auto;
    font-size: 14px;
  }
}



.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  
  &--geom {
    &-def {
      padding: 20px 42px;
      font-size: 18px;
      line-height: 1.15;
      border-radius: 30px;
    }
  }

  &--theme {
    &-def {
      border: none;
      outline: none;
      box-shadow: none;
      // background: $color-main-2;
      background: #f00;
      transition: background 0.2s;
      color: #fff;

      &:hover,
      &:active,
      &:focus{
        color: #fff;
        background: darken(#f00, 10);
      }
    }
  }



  

}

.btn-arrow {
  margin: 0;
  padding: 0;
  position: relative;
  width: 58px;
  height: 58px;
  display: inline-block;
  vertical-align: middle;

  text-decoration: none;
  text-align: center;
  line-height: 58px;
  font-style: normal;
  font-family: inherit;
  color: $color-main-6;
  white-space: nowrap;

  border: none;
  outline: none;
  box-shadow: none;
  background: $color-main-5;
  border-radius: 4px;
  transition: color 0.2s, background 0.2s;
  cursor: pointer;

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
  
  &:hover,
  &:active {
    color: #fff;
    background: $color-main-3;
  }

  &__icon {
    display: inline-block;
    color: currentColor;
    fill: currentColor;
  }
}







.socials {
  display: flex;
  align-items: center;
  color: $color-main-4;

  &__item {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    fill: currentcolor; 
    color: currentcolor; 
    outline: none;
    transition: color 0.2s;
    
    & + & { 
      margin-left: 20px; 
    }
    
    &:hover {
      color: darken($color-main-4, 10);
    }

    svg {
      display: block;
    }

  }
}

.phone-number {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;

  &--theme-dark {
    color: $color-main;

    &:hover,
    &:active,
    &:focus {
      color: $color-main-1;
    }
  }

  &--theme-white {
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      color: $color-main-5;
    }
  }

  @include media-breakpoint-up(xl) {
    font-size: 20px;
  }

}


.logo {
  display: block;
  width: 100%;
  max-width: 100%;
  
  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
}





/* Back top */
.back-to-top {
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: $color-main-3;
  overflow: hidden;
  text-indent: -99999px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  bottom: 50px;
  right: 3%;
  cursor: pointer;
 
  transition: 0.2s;

  &.show:hover,
  &.show:active {
    opacity: 1;
  }
  &.show {
    visibility: visible;
    opacity: 0.5;
    pointer-events: visible;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -4px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    background: none;
    transform: rotate(45deg);
  }
}

/* End Back top */

// @extends;
.title {
  font-family: $ffFuturis;
  font-size: 26px;
  line-height: 1.35;
  font-style: normal;
  font-weight: 700;

  
  @include media-breakpoint-up(sm) {
    font-size: 28px;
  }

  @include media-breakpoint-up(md) {
    font-size: 34px;
  }
  
  @include media-breakpoint-up(xl) {
    font-size: 38px;
  }
}

.title-2 {
  font-family: $ffFuturis;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  // color: rgba(255, 255, 255, 0.68);

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
  
  @include media-breakpoint-up(xl) {
    font-size: 24px;
  }
}

.link-resset {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.list-resset {
  list-style: none;
  margin: 0;
  padding: 0;
}




// END @extends;

.visible-up {
  &-sm {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
  &-md {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  &-lg {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  &-xl {
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }
  }
}



.hide-up {

  &-sm {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &-md {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  &-lg {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  &-xl {
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}

.hide-down {
  &-xl {
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }

  &-lg {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &-md {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &-sm {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }



}


@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}



@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}