@import 'libs';
@import 'fonts';
@import 'ui';




body {
  min-width: 320px;

  font-family: $ffFuturaBookC;
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: 0.01em;

  color: $color-main;
  background: #fff;
}


.container {
  @include media-breakpoint-up(xl) {
    max-width: 1185px;
    padding-right: 0;
    padding-left: 0;
  }
}


@import 'header';
@import 'footer';

@import 'block-accordion';


@import 'sec-intro';
@import 'sec-workflow';
@import 'sec-feedback';
@import 'sec-portfolio';
@import 'sec-calc';
@import 'sec-main-about';


.wrapper {
  overflow: hidden;
}





@import 'media';
