@import '_libs';
@import '_fonts';
@import '_ui';




body {
  min-width: 320px;

  font-family: $ffFuturaBookC;
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: 0.01em;

  color: $color-main;
  background: #fff;
}


.container {
  @include media-breakpoint-up(xl) {
    max-width: 1185px;
    padding-right: 0;
    padding-left: 0;
  }
}



@import '_header';




@import '_media';
